<!-- =====================================
    	==== Start Blog -->
<section class='blog section-padding' data-scroll-index='5'>
  <div class='container'>
    <div class='row'>

      <div class='section-head full-width'>
        <h4 class='title'>My Blog</h4>
      </div>

      <div class='p-3 m-n3 overflow-hidden'>

        <div
          id='carousel-multiple'
          class='carousel slide carousel-multiple'
          data-ride='carousel'
          data-maximum-items-per-slide='3'
          {{did-insert this.blogCarousel}}
        >
          {{!-- <ol class='carousel-indicators'>
            <li
              data-target='#carousel-multiple'
              data-slide-to='0'
              class='active'
            ></li>
            <li data-target='#carousel-multiple' data-slide-to='1'></li>
            <li data-target='#carousel-multiple' data-slide-to='2'></li>
            <li data-target='#carousel-multiple' data-slide-to='3'></li>
            <li data-target='#carousel-multiple' data-slide-to='4'></li>
          </ol> --}}
          <div class='row position-relative'>

            <div class='row carousel-inner mx-0'>
              <div
                class='carousel-item col-sm-6 col-md-4 col-lg-4 col-xl-4 active'
              >
                {{! <div
                  class='p-5 w-100 text-center bg-primary rounded shadow-sm display-1 text-light'
                >
                  1
                </div> }}
                <div class='pitem'>
                  <div class='post-img'>
                    <a href='#0'>
                      <img src='img/blog/1.jpg' alt='' />
                    </a>
                    <a href='#0' class='tag'>WordPress</a>
                  </div>
                  <div class='content'>
                    <h3>
                      <a href='#0'>The Best WordPress Real Estate Themes &
                        Plugins</a>
                    </h3>
                    <p>Real estate is an uber-competitive marketplace full of
                      businesses competing for the same set of consumers.
                      They're all looking for …</p>
                    <div class='info'>
                      <span class='more'>
                        <a href='#0'>Read More</a>
                      </span>
                      <span class='by'>
                        <a href='#0'>By : Admin</a>
                      </span>
                    </div>
                  </div>
                </div>

              </div>
              <div class='carousel-item col-sm-6 col-md-4 col-lg-4 col-xl-4'>
                {{! <div
                  class='p-5 w-100 text-center bg-primary rounded shadow-sm display-1 text-light'
                >
                  2
                </div> }}
                <div class='pitem'>
                  <div class='post-img'>
                    <a href='#0'>
                      <img src='img/blog/2.jpg' alt='' />
                    </a>
                    <a href='#0' class='tag'>Trends</a>
                  </div>
                  <div class='content'>
                    <h3>
                      <a href='#0'>4 Deadly Sins of UI and UX Design You Need to
                        Avoid</a>
                    </h3>
                    <p>It’s not wrong to say that perfection in web design is
                      something that doesn't really exist. But that doesn't mean
                      …</p>
                    <div class='info'>
                      <span class='more'>
                        <a href='#0'>Read More</a>
                      </span>
                      <span class='by'>
                        <a href='#0'>By : Admin</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='carousel-item col-sm-6 col-md-4 col-lg-4 col-xl-4'>
                {{! <div
                  class='p-5 w-100 text-center bg-primary rounded shadow-sm display-1 text-light'
                >
                  3
                </div> }}
                <div class='pitem'>
                  <div class='post-img'>
                    <a href='#0'>
                      <img src='img/blog/3.jpg' alt='' />
                    </a>
                    <a href='#0' class='tag'>Trends</a>
                  </div>
                  <div class='content'>
                    <h3>
                      <a href='#0'>The Best Advice for Novice Web Designers in
                        2018</a>
                    </h3>
                    <p>When you're just getting started, it's hard to know what
                      advice to listen to, and what to ignore. Finding your …</p>
                    <div class='info'>
                      <span class='more'>
                        <a href='#0'>Read More</a>
                      </span>
                      <span class='by'>
                        <a href='#0'>By : Admin</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class='carousel-item col-sm-6 col-md-4 col-lg-4 col-xl-4'>
                {{! <div
                  class='p-5 w-100 text-center bg-primary rounded shadow-sm display-1 text-light'
                >
                  4
                </div> }}
                <div class='pitem'>
                  <div class='post-img'>
                    <img src='img/blog/4.jpg' alt='' />
                    <a href='#0' class='tag'>ThemeForest</a>
                  </div>
                  <div class='content'>
                    <h3>
                      <a href='#0'>20 Stellar Science Fiction After Effects
                        Templates</a>
                    </h3>
                    <p>We’ve assembled a collection of sci-fi After Effects
                      templates most likely to induce awe and wonder and tried
                      to pick …</p>
                    <div class='info'>
                      <span class='more'>
                        <a href='#0'>Read More</a>
                      </span>
                      <span class='by'>
                        <a href='#0'>By : Admin</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class='carousel-item col-sm-6 col-md-4 col-lg-4 col-xl-4'>
                {{! <div
                  class='p-5 w-100 text-center bg-primary rounded shadow-sm display-1 text-light'
                >
                  4
                </div> }}
                <div class='pitem'>
                  <div class='post-img'>
                    <img src='img/blog/4.jpg' alt='' />
                    <a href='#0' class='tag'>ThemeForest</a>
                  </div>
                  <div class='content'>
                    <h3>
                      <a href='#0'>20 Stellar Science Fiction After Effects
                        Templates</a>
                    </h3>
                    <p>We’ve assembled a collection of sci-fi After Effects
                      templates most likely to induce awe and wonder and tried
                      to pick …</p>
                    <div class='info'>
                      <span class='more'>
                        <a href='#0'>Read More</a>
                      </span>
                      <span class='by'>
                        <a href='#0'>By : Admin</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
             <a
              class='carousel-control-prev w-auto px-5 px-xl-4'
              href='#carousel-multiple'
              role='button'
              data-slide='prev'
            >
              <span
                class='carousel-control-prev-icon'
                aria-hidden='true'
              ></span>
              <span class='sr-only'>Previous</span>
            </a>
            <a
              class='carousel-control-next w-auto px-5 px-xl-4'
              href='#carousel-multiple'
              role='button'
              data-slide='next'
            >
              <span
                class='carousel-control-next-icon'
                aria-hidden='true'
              ></span>
              <span class='sr-only'>Next</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Blog ====
    	======================================= -->