	<!-- =====================================
    	==== Start Footer -->
    	<footer class="footer">
    		<p>Copyright &copy;2022, Rabbi Hasan.</p>
    	</footer>
    	<!-- End Footer ====
    	======================================= -->