<!-- =====================================
==== Start Header -->
<header
  class='header valign bg-img'
  data-scroll-index='0'
  data-overlay-dark='5'
  data-background='img/b6.jpg'
  data-stellar-background-ratio='0.5'
>
  <div class='container'>
    <div class='row'>
      <div class='vertical-center full-width text-center caption'>
        <h2>I Love To Code</h2>
        <h1 class='cd-headline clip' {{did-insert this.headerAnimation}}>
          <span class='blc'>I Am </span>
          <span class='cd-words-wrapper'>
            <b class='is-visible'>Rabbi Hasan</b>
            <b>a Developer</b>
            <b>a Coder</b>
            <b>a Problem Solver</b>
            <b>a Software Engineer</b>
          </span>
        </h1>
      </div>
    </div>
  </div>

  <div class='arrow'>
    <a href='#' data-scroll-nav='1'>
      <i class='fa fa-chevron-down'></i>
    </a>
  </div>
</header>
<!-- End Header ====
    	======================================= -->