<!-- =====================================
    	==== Start Hero -->
<section class='hero section-padding' data-scroll-index='1'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-5'>
        <div class='hero-img mb-md50'>
          <img src='img/rabbi.jpg' alt='' />
        </div>
      </div>
      <div class='col-lg-7'>
        <div class='content'>
          <h4 class='title title-left'>I Am Software Engineer</h4>
          <p>I am
            <span>Rabbi Hasan</span>
            I am a passionate programmer who loves to code, learn new things,
            and see progress on projects I am working on! It gives me a thrill
            when I solve some difficult problem. Interested in Frontend,
            Backend, and DevOps, my goal is to become a full-stack dev. I enjoy
            gaining and sharing knowledge. Front-End Development
            (Javascript,Ember.js,Html,CSS,Bootstrap) Back-End Development
            (Python, Django, Rest API, Django Channel) Test Driven Development
            Refactoring.</p>

          <div class='social-icon'>
            <a target='_blank' href='https://www.linkedin.com/in/hasanrabbi/' rel="noopener noreferrer">
              <span class='icon'><i class='fa fa-linkedin'></i></span>
            </a>
            <a target='_blank' href='https://github.com/Rabbi50/' rel="noopener noreferrer">
              <span class='icon'><i class='fa fa-github'></i></span>
            </a>
            <a
              target='_blank'
              href='https://stackoverflow.com/users/8266746/rabbi-hasan/' rel="noopener noreferrer"
            >
              <span class='icon'><i class='fa fa-stack-overflow'></i></span>
            </a>
            <a target='_blank' href='https://www.facebook.com/rabbi.50.hasan/' rel="noopener noreferrer">
              <span class='icon'><i class='fa fa-facebook-f'></i></span>
            </a>
            <a target='_blank' href='https://twitter.com/rabbi_hasan_/' rel="noopener noreferrer">
              <span class='icon'><i class='fa fa-twitter'></i></span>
            </a>

          </div>

          <span class='buton text-center'>
            <a
              href='#0'
              front='Hire Me'
              back='&#xf1d8;'
              data-scroll-nav='6'
            ></a>
          </span>
          <span class='buton buton-bord text-center'>
            <a
              href='/resume/Rabbi_Hasan_Resume.pdf'
              front='Download Resume'
              back='&#xf019;'
              download='Rabbi_Hasan_Resume.pdf'
            ></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero ====
    	======================================= -->