<!-- =====================================
    	==== Start Loading -->
<div class='loading' {{did-insert this.fadeOut}}>
  <div class='text-center middle'>
    <div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>
  </div>
</div>
<!-- End Loading ====
    	======================================= -->