<!-- =====================================
    	==== Start Numbers -->
    	<div class="numbers bg-img" data-stellar-background-ratio="0.5" data-overlay-dark="8" data-background="img/b3.jpg" {{did-insert this.numberCount}}>
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-happy"></span>
    						<h2 class="count">340</h2>
    						<p>Happy Customers</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-layers"></span>
    						<h2 class="count">950</h2>
    						<p>Projects Complated</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item mb-sm50">
    						<span class="icon icon-download"></span>
    						<h2 class="count">520</h2>
    						<p>Files Downloaded</p>
    					</div>
    				</div>
    				<div class="col-lg-3 col-md-6">
    					<div class="item">
    						<span class="icon icon-pencil"></span>
    						<h2 class="count">6350</h2>
    						<p>Lines Of Code</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    	<!-- End Numbers ====
    	======================================= -->