<!-- =====================================
    	==== Start Portfolio -->
    	<section class="portfolio section-padding" data-scroll-index="3">
			<div class="container">
				<div class="row">

    				<!-- Section-Head -->
    				<div class="section-head full-width">
    					<h4 class="title">My Portfolio</h4>
    				</div>

    			</div>

				<div class="row justify-content-center">

					<!-- filter links -->
					<div class="filtering text-center mb-50">
						<span data-filter='*' class="active">All</span>
						<span data-filter='.brand'>Brand</span>
						<span data-filter='.web'>Design</span>
						<span data-filter='.graphic'>Graphic</span>
					</div>

					<!-- gallery -->
					<div class="gallery full-width" {{did-insert this.portfolioGallery}}>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items graphic">
							<div class="item-img">
								<img src="img/portfolio/1.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/1.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items web">
							<div class="item-img">
								<img src="img/portfolio/2.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/2.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items graphic">
							<div class="item-img">
								<img src="img/portfolio/3.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/3.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items web">
							<div class="item-img">
								<img src="img/portfolio/4.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/4.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items brand">
							<div class="item-img">
								<img src="img/portfolio/5.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/5.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- gallery item -->
						<div class="col-md-6 col-lg-4 items brand">
							<div class="item-img">
								<img src="img/portfolio/6.jpg" alt="image">
								<div class="item-img-overlay text-center valign">
									<div class="overlay-info vertical-center full-width">
										<h6>Design . Motion</h6>
										<h5>Crearive Design</h5>
									</div>
									<a href="img/portfolio/6.jpg" class="link">
										<i class="fas fa-eye"></i>
									</a>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

					<div class="col-md-12 text-center">
						<span class="buton">
						  <a href="#0" front="View All" back="&#xf06e;"></a>
						</span>
					</div>

				</div>
			</div>
		</section>
    	<!-- End Portfolio ====
    	======================================= -->