<!-- =====================================
    	==== Start Resume -->
<section
  class='resume bg-img'
  data-overlay-dark='8'
  data-background='img/b4.jpg'
  data-scroll-index='1'
>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-3 col-sm-6'>
        <div class='item mb-md50'>
          <span class='icon icon-pencil'></span><br />
          <h5 class='title title-left'>Education</h5>
          <ul>
            <li>
              <h6>Daffodil International University</h6>
              <p>Bachelor of Science in Software Engineering</p>
            </li>
            <!-- <li>
    								<h6>College of Awesomeness</h6>
    								<p>Master of Fine Arts</p>
    							</li>
    							<li>
    								<h6>School of Amusement</h6>
    								<p>Bachelor of Fine Arts</p>
    							</li> -->
          </ul>
        </div>
      </div>
      <div class='col-lg-3 col-sm-6'>
        <div class='item mb-md50'>
          <span class='icon icon-briefcase'></span><br />
          <h5 class='title title-left'>Experience</h5>
          <ul>
            <li>
              <h6>Junior Full Stack Web Developer</h6>
              <p>Algorithm Generation Limited</p>
            </li>
            <li>
              <h6>Python Developer</h6>
              <p>Securewp.net</p>
            </li>
            <!-- <li>
    								<h6>Front-End Developer</h6>
    								<p>Creative Design Studio</p>
    							</li> -->
          </ul>
        </div>
      </div>
      <div class='col-lg-6' {{did-insert this.progressBar}}>
        <div class='item skills'>
          <span class='icon icon-layers'></span><br />
          <h5 class='title title-left'>My Skills</h5>

          <div class='skill'>
            <h6>Font End(Javascript, Ember.js, Html, Css, Bootstrap) <span>90%</span></h6>
            <div class='skills-progress'><span data-value='90%'></span></div>
          </div>
          <div class='skill'>
            <h6>Back End(Python, Django, API, Postgresql) <span>80%</span></h6>
            <div class='skills-progress'><span data-value='80%'></span></div>
          </div>
          <div class='skill'>
            <h6>Deployment(Linux, Nginx) <span>85%</span></h6>
            <div class='skills-progress'><span data-value='85%'></span></div>
          </div>
          <!-- <div class="skill">
    							<h6>Marketing <span>75%</span></h6>
    							<div class="skills-progress"><span data-value='75%'></span></div>
    						</div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume ====
    	======================================= -->