<!-- =====================================
    	==== Start Services -->
    	<section class="services section-padding" data-scroll-index="2">
    		<div class="container">
    			<div class="row">
    				
    				<div class="section-head full-width">
    					<h4 class="title">My Services</h4>
    				</div>

    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-laptop"></span>
    						<h6>Web Design</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6 active bolt">
    					<div class="item mb-md50">
    						<span class="icon icon-layers"></span>
    						<h6>Development</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-layers"></span>
    						<h6>API</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>
    				<div class="bord full-width"></div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item mb-md50">
    						<span class="icon icon-shield"></span>
    						<h6>Clean Code</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6 active">
    					<div class="item mb-sm50">
    						<span class="icon icon-mobile"></span>
    						<h6>Fully Responsive</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>
    				<div class="col-lg-4 col-md-6">
    					<div class="item">
    						<span class="icon icon-gears"></span>
    						<h6>Custom Support</h6>
    						<p>fusce quis volutpat porta, ut tincidunt eros est nec diam erat quis volutpat porta, neque massa, ut tincidunt eros est nec diam</p>
    					</div>
    				</div>

    			</div>
    		</div>
    	</section>
    	<!-- End Services ====
    	======================================= -->