<!-- =====================================
    	==== Start Testimonails -->
<section
  class='testimonials section-padding bg-img'
  data-overlay-dark='8'
  data-background='img/b2.jpg'
  data-scroll-index='4'
>
  <div class='container'>
    <div class='row'>

      <!-- Section-Head -->
      <div class='section-head full-width mb-50'>
        <span class='icon icon-quote'></span><br />
        <h4 class='title'>Testimonials</h4>
      </div>

      <div class='offset-md-1 col-md-10'>

        <div
          id='carouselExampleIndicators'
          class='carousel slide text-center'
          data-ride='carousel'
        >
          <ol class='carousel-indicators'>
            <li
              data-target='#carouselExampleIndicators'
              data-slide-to='0'
              class='active'
            ></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='1'></li>
            <li data-target='#carouselExampleIndicators' data-slide-to='2'></li>
          </ol>
          <div class='carousel-inner'>
            <div class='carousel-item active'>
              <div class='citem d-block w-100'>
                <p>Lorem Ipsum is simply dummy text of the printing and
                  industry. Lorem Ipsum has been the industry's standard dummy,
                  when an unknown printer took a galley of type a type specimen
                  book.</p>
                <h5>Alex Smith</h5><h6>Envato Author</h6>
              </div>
            </div>
            <div class='carousel-item'>
              <div class='citem d-block w-100'>
                <p>Lorem Ipsum is simply dummy text of the printing and
                  industry. Lorem Ipsum has been the industry's standard dummy,
                  when an unknown printer took a galley of type a type specimen
                  book.</p>
                <h5>Alex Smith</h5><h6>Envato Author</h6>
              </div>
            </div>
            <div class='carousel-item'>
              <div class='citem d-block w-100'>
                <p>Lorem Ipsum is simply dummy text of the printing and
                  industry. Lorem Ipsum has been the industry's standard dummy,
                  when an unknown printer took a galley of type a type specimen
                  book.</p>
                <h5>Alex Smith</h5><h6>Envato Author</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
<!-- End Testimonails ====
    	======================================= -->

