{{page-title "Rabbi Hasan"}}

<div {{did-insert this.scroll}}>
    <Loader/>

    <NavBar/>

    <Header/>

    <Hero/>

    <Resume/>

    <Service/>

    <Number/>

    <Portfolio/>

    <Testimonial/>

    <Blog/>

    <Contact/>

    <Footer/>

</div>

{{outlet}}