{{page-title "Portfolio"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<div {{did-insert this.scroll}}>
    <Loader/>

    <NavBar/>

    <Header/>

    <Hero/>

    <Resume/>

    <Service/>

    <Number/>

    <Portfolio/>

    <Testimonial/>

    <Blog/>
    
    <Contact/>

</div>

{{outlet}}